<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Round 22</h5>
          <dl class="row">
            <dt class="col-sm-6">Location</dt>
            <dd class="col-sm-8">Las Vegas - United States</dd>

            <dt class="col-sm-6">Practice 1</dt>
            <dd class="col-sm-8">2024-11-21 18:30:00-08:00</dd>

            <dt class="col-sm-6">Practice 2</dt>
            <dd class="col-sm-8">2024-11-21 22:00:00-08:00</dd>

            <dt class="col-sm-6">Practice 3</dt>
            <dd class="col-sm-8">2024-11-22 18:30:00-08:00</dd>

            <dt class="col-sm-6">Qualifying</dt>
            <dd class="col-sm-8">2024-11-22 22:00:00-08:00</dd>

            <dt class="col-sm-6">Race</dt>
            <dd class="col-sm-8">2024-11-23 22:00:00-08:00</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Round 23</h5>
          <dl class="row">
            <dt class="col-sm-6">Location</dt>
            <dd class="col-sm-8">Lusail - Qatar</dd>

            <dt class="col-sm-6">Practice 1</dt>
            <dd class="col-sm-8">2024-11-29 16:30:00+03:00</dd>

            <dt class="col-sm-6">Sprint Qualifying</dt>
            <dd class="col-sm-8">2024-11-29 20:30:00+03:00</dd>

            <dt class="col-sm-6">Sprint</dt>
            <dd class="col-sm-8">2024-11-30 17:00:00+03:00</dd>

            <dt class="col-sm-6">Qualifying</dt>
            <dd class="col-sm-8">2024-11-30 21:00:00+03:00</dd>

            <dt class="col-sm-6">Race</dt>
            <dd class="col-sm-8">2024-12-01 19:00:00+03:00</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Round 24</h5>
          <dl class="row">
            <dt class="col-sm-6">Location</dt>
            <dd class="col-sm-8">Yas Island - United Arab Emirates</dd>

            <dt class="col-sm-6">Practice 1</dt>
            <dd class="col-sm-8">2024-12-06 13:30:00+04:00</dd>

            <dt class="col-sm-6">Practice 2</dt>
            <dd class="col-sm-8">2024-12-06 17:00:00+04:00</dd>

            <dt class="col-sm-6">Practice 3</dt>
            <dd class="col-sm-8">2024-12-07 14:30:00+04:00</dd>

            <dt class="col-sm-6">Qualifying</dt>
            <dd class="col-sm-8">2024-12-07 18:00:00+04:00</dd>

            <dt class="col-sm-6">Race</dt>
            <dd class="col-sm-8">2024-12-08 17:00:00+04:00</dd>
          </dl>
        </div>
      </div>
    </div>

  </div>
</div>

</body>
</html>